.navigation {
    background-color: #18191c;
    width: 400px;
}

.navigation h2 {
    color: rgb(9, 9, 35);
    background-color: #18191c;

}



.navigation ul li a {
    width: 90%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #18191c;
    color: #fff;
    outline: 0;
    font-size: 15px;
}